html,body {
    margin: 0;
    padding: 0;
    font-size: 10px;
    height: 100%;
    font-family: MicrosoftYaHei,sans-serif;
}
h5 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
}
.rise {
    margin-top: 2rem;
}
.margin-rise {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
@media screen and  (max-width: 768px){
    .header-wrap {
        display: none;
        /*页头隐藏显示*/
    }
    .navbar-default .navbar-nav li a {
        text-align: right;
    }
}
@media screen and  (min-width: 768px){
    .header-min-wrap {
        display: none;
        /*页头隐藏显示*/
    }
    .header-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navbar-nav {
        float: right;
    }
    .nav-left-img {
        display: none;
    }
    .home-tag-num {
        border-left: 1px dashed #dedede;
    }
    .navbar-default .navbar-nav>li>a:hover {
        color: #fff;
        border-bottom: 2px solid #fff;
    }
}
@media (min-width: 992px) {
    .study-flex p {
        width: 60%;
    }
}
@media screen and  (min-width: 1200px) {
    .col-lg-4 {
        width: 20%;
    }
    .img-hidden {
        visibility: hidden;
    }
}
.header-min-wrap {
    width: 100%;
    height: 2rem;
}
.header-min {
    float: right;
    padding-right: 30px;
    line-height: 2rem;
}
.header-min a {
    color: #000;
}
.header-min  span{
    color: #29b078;
}
.header-wrap {
    width: 100%;
    height: 2.5rem;
}
.header-phone {
    color: #29b078;
}
/*导航栏*/
.navbar {
    margin-bottom: 0;
}
.navbar-default {
    background-color: #29b078;
    border-color: #29b078;
}
.navbar-default .navbar-toggle {
    border-color: #29b078;
}
.nav-left-img {
    width: 20rem;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #29b078;
}
.navbar-default .navbar-collapse {
    border: none;
}
.navbar-default .navbar-nav li a {
    color: #fff;
    font-size: 14px;
}
.navbar-nav>li>a {
    border-bottom: 2px solid transparent;
    padding-right: 24px;
}
/*header结束*/
main {
    width: 100%;
    background-color: #fafafa;
}
.block {
    margin-top: 7rem;
    height: 13rem;
}
.home-tag {
    padding: 70px 0 58px 0;
}
.home-tag p {
    font-size: 1.4rem;
    color: #999;
}
.home-tag-icon img {
    height: 35px;
}
/*如何学习*/
.study-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    color: #999;
}
.study-flex p {
    height: auto;
}
.study-num {
    display: block;
    width: 35px;
    height: 35px;
    line-height: 3.5rem;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(8,1,3,.15);
    border-radius: 50%;
    margin-right: 10px;
    float: left;
}
.placeholder {
    visibility: hidden;
    width: 32px;
    height: 30px;
}
/*优秀学员展示*/
.show-box {
    height: 20rem;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(8,1,3,.15);
    border-radius: 2px;
}
.show-avatar {
    text-align: center;
}
.show-box span {
    display: block;
    text-align: center;
    font-size: 1rem;
}
.show-box p {
    color: #999;
    margin: 1rem;
    padding: 0 2rem;
}
.show-avatar img {
    width: 54px;
}
/*优秀学员轮播默认圆点颜色修改*/
.swiper-pagination-bullet-active {
    background: #29b078;
}
/*圆点距离修改*/
.swiper-container {
    padding-bottom: 2rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 0;
}
/*战略合作企业*/
.company-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    background-color: #fff;
}
.company-box:hover {
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
    z-index: 1;
}
/*友情链接*/
footer {
    background-color: #fff;
}
.footer-list-box {
    overflow: hidden;
    background-color: #fff;
}
.footer-list-box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: #999;
}
.footer-list-box ul li {
    margin-right: 3rem;
}
.footer-list-box a {
    color: #999;
}
/*页脚*/
.footer {
    color: #fff;
    font-size: 13px;
    background-color: #29b078;
    padding-top: 20px;
}
.footer a {
    color: #fff;
}
.footer .lead {
    margin-bottom: 10px;
    font-size: 14px;
}
.footer-img {
    margin-bottom: 1rem;
}
.footer-foot {
    font-size: 12px;
    padding: 10px 0;
    border-top: 1px solid #32c086;
}


