* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 10px;
}
/*header开始*/
.header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: #29bde0;
    border-bottom: 1px solid #fff;
    z-index: 1;
}
.header span{
    font-size: 1.6rem;
    color: #fff;
}
.home,
.information{
    width: 5rem;
    height: 4rem;
    transform: scale(0.5);
}
.information {
    margin-right: -1rem;
}
/*container开始*/
.container {
    position: absolute;
    top: 4rem;
    width: 100%;
    background-color: #29bde0;
}
.content {
    margin-bottom: 3rem;
}
.victory {
    text-align: center;
    margin-top: 1.5rem;
}
.victory div {
    width: 100%;
    position: absolute;
    top: 87px;
    font-size: 18px;
    color: #fff;
}
.result,
.text {
    margin: 1rem 2rem 0 2rem;
}
.result {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: #ffc865;
}
.text {
    margin-top: 1rem;
    color: #fff;
    letter-spacing: 2px;
}
.process {
    background-color: #fff;
}
.day {
    border-bottom: 1px solid #cfcfcf;
    padding: 0.5rem 2rem 0 2rem;
    color: #cfcfcf;
}
.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.title-day {
    color: #000;
    font-size: 1.5rem;
}
.pro-content {
    margin-bottom: 0.5rem;
}
/*footer开始*/
.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 6.5rem;
    background-color: rgba(41,189,224,0.5);
}
.btn-reset,
.btn-submit {
    width: 40vw;
    height: 3.5rem;
    border-radius: 0.7rem;
    color: #fff;
    font-size: 1.6rem;
    margin: 1rem;
}
.btn-reset {
    background-color: #f66f6f;
    border: 1px solid #f66f6f;
}
.btn-submit {
    background-color: #fbb435;
    border: 1px solid #fbb435;
}
