*{
    margin: 0;
    padding: 0;
}
html {
    font-size: 100px !important;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
header,
footer{
    width: 100%;
    min-width: 280px;
}
/*header开始*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0.45rem;
    background: #5fc0cd;
}
.btn-wrap {
    width: 1.5rem;
    height: 0.33rem;
}
.btn-wrap .btn-emp{
    color: #fff;
    background: #55a8b3;
    border: 1px solid #55a8b3;
    border-radius: 0.05rem 0 0 0.05rem;
    font-size: 0.16rem;
    margin-right: -0.05rem;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem;
}
.btn-wrap .btn-sup {
    color: #5fc0cd;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 0.05rem;
    font-size: 0.16rem;
    padding: 0.05rem 0.1rem 0.05rem 0.1rem
}
.icon-pos {
    position: absolute;
    right: 0.05rem;
}
.locate {
    background: url("images/img.png")no-repeat 0 -1.5rem;
    height: 0.44rem;
    width: 0.42rem;
    /*设置缩放比例*/
    transform:scale(0.5);
}
/*!*模拟下拉框开始*!*/
.list {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0.45rem;
    width: 100%;
    min-width: 280px;
    height: 0.45rem;
    background-color: #fff;
    color: #aaa;
    font-size: 0.14rem;
    border-bottom: 1px solid #e1e5e7;
    z-index: 999;
}
.list .list-item {
    flex: 1;
    position: relative;
    text-align: center;
    border-left: 1px solid #eee;
}
.list-item:first-child {
    border-left: 0;
}
.item-title {
    line-height: 0.45rem;
    text-align: center;
}
.icon-tri {
    position: absolute;
    top: 40%;
    right: 0.05rem;
    width: 0.15rem;
    height: 0.1rem;
    background: url("images/img.png")no-repeat 0 0;
    transform:scale(0.5);
}
.drop-down {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    list-style: none;
}
.drop-down a {
    color: #aaa;
}
.list-item:hover .drop-down{
    display: block;
}
.drop-down>li {
    border: 1px solid #ddd;
    padding: 0.1rem 0;
}
.drop-down>li:hover {
    color: #fff;
    background-color: #5fc0cd;
}
/*中间内容开始*/
.Site-content {
    width: 100%;
    position: absolute;
    top: 0.9rem;
    box-sizing: border-box;
    padding-bottom: 0.5rem;
    min-width: 280px;
}
.Site-list {
    height: auto;
}
.content{
    width: 100%;
    font-size: 0.14rem;
    border-bottom: 1px solid #eee;
}
.main-box {
    display: flex;
    justify-content: flex-start;
    margin: 0.1rem 0 0 0.1rem;
}
.main-box .icon-date {
    background: url("images/img.png")no-repeat 0 -0.8rem;
    width: 0.28rem;
    height: 0.22rem;
    transform:scale(0.7);
}
.main-box span {
    color: #999;
}
.main-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.1rem 0.1rem 0.1rem 0.27rem;
}
.main-span {
    width: 60%;
    font-size: 0.16rem;
    overflow-x: hidden;  /*溢出隐藏*/
    text-overflow: ellipsis; /*以省略号...显示*/
    white-space: nowrap;  /*强制不换行*/
}
.main-price {
    display: flex;
    justify-content: center;
}
.main-price span {
    font-size: 0.16rem;
    color: #f00;
}
.main-price .icon-step {
    background: url("images/img.png")no-repeat -0.06rem -0.2rem;
    width: 0.13rem;
    height: 0.18rem;
    transform:scale(0.7);
    margin-left: 0.1rem;
}
.main-site {
    display: flex;
    justify-content: flex-start;
    margin: 0.1rem;
}
.main-site .icon-loc {
    background: url("images/img.png")no-repeat 0 -0.5rem;
    width: 0.28rem;
    height: 0.22rem;
    transform:scale(0.7);
}
.main-site span {
    color: #999;
}
/*footer开始*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    background: #f8fafb;
    border-top: 1px solid #e2eaec;
    height: 0.5rem;
}
footer .icon {
    background: url("images/img.png")no-repeat;
    width: 0.45rem;
    height: 0.5rem;
    transform:scale(0.6);
}
footer .home-wrap,
footer .personal-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 10%;
    cursor: pointer;
}
.home-wrap .icon {
    background-position: -0.02rem -2.5rem;
}
.home-wrap .home {
    font-size: 0.12rem;
    color: #5fc0cd;
    margin-top: -0.05rem;
}
.home-wrap .home:hover {
    color: #5fc0cd;
}
footer .edit-wrap {
    display: flex;
    justify-content: center;
    align-content: center;
    background: #5fc0cd;
    border-radius: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    cursor: pointer;
}
.edit-wrap .edit {
    width: 0.4rem;
    height: 0.4rem;
    line-height: 0.5rem;
    background: url("images/img.png") no-repeat 0 -1.06rem;
    transform:scale(0.7);
    margin-top: 0.02rem;
}
.personal-wrap .icon {
    background-position: 0 -2rem;
}
.personal-wrap .personal {
    font-size: 0.12rem;
    color: #999;
    margin-top: -0.05rem;
}
.personal-wrap .personal:hover {
    color: #999;
}